server:
  port: 8091

spring:
  application:
    name: talentcross-prestamo


  datasource:
    url: jdbc:postgresql://localhost:5432/talentcross_prestamo_db
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

